body {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

#drum-pads {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  border: 1px solid black;
  height: 20vh;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  background-color: yellow;
  color: black;
  font-size: 20px;
  font-weight: bold;
}